<% if user_signed_in? %>
  <div class='new-listing text-center'>
    <%= link_to new_listing_path do %>
      <%= icon('camera') %>
      Add Listing
    <% end %>
  </div>
<% end %>

<%= render @listings %>

<div class='text-center'>
  <%= paginate @listings %>
</div>
